@CHARSET "UTF-8";

* {
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
}

input.ui-inputfield {
	margin: 2px;
}

input[type="submit"]{
	font-weight: bold;
}

.cargar-archivo {
	height: 150px;
	background: #ccc;
}

.zona-carga .ui-fileupload-content {
	height: 80px;
}

.ui-datatable table {
	text-align: center;
}

.tabla-no-borde tbody tr td {
	border: none;
	line-height: 2px;
}

.negrilla {
	font-weight: bold;
}

.small {
	width: 125px !important;
}

.medium {
	width: 175px !important;
}

.large {
	width: 225px !important;
}

.x-large {
	width: 275px !important;
}

.boton{
	background-color: none !important;
}

.pr-division{
	width: 85%
}

.sd-division{
	width: 15%
}

.ui-selectoneradio label, .ui-radiobutton .ui-widget{
	margin-right: 5px;
}

.booking{
	background-color: #ccc;
}

/******* HEADER ******/
.header-app{
	box-sizing: border-box;
	width: 100%;
}

/******* AREA ******/
.work-area{
	min-height: 422px;
}

/******* FOOTER ******/
footer{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	color:  #ffffff;
	font: bold 16px 'Open Sans', sans-serif;
	margin-top: 30px;
	padding: 30px 50px 10px 50px;
	vertical-align: top;
	text-align: center;
}

/* The company logo */

footer h3{
	font: normal 36px 'Cookie',;
	margin: 0;
}

footer h3 span{
	color:  #5383d3;
}

.info-footer{
	margin-top: 30px;
	width: 100%;
}