@CHARSET "UTF-8";

*{
	font-size: 10px;
	font-family: 	
}

.cargar-archivo{
	height: 150px;
	background: #ccc;
}

.zona-carga .ui-fileupload-content {
	height: 80px;
}

.ui-datatable table{
	text-align: center;
}

.tabla-no-borde tbody tr td{
	border: none;
	line-height: 2px;
}

.negrilla{
	font-weight: bold;
}
